*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #303841;
  --color-secondary: #3A4750;

  --color-white: #fff;
  --color-black: #000;
}

html {
  font-size: 62.5%;
}
